<button id="btn0" type="button" class="btn btn-default"
			data-toggle="tooltip" data-placement="bottom"
			title="No pins knocked down" ng-click="chanceValue(0);" value="0"
			style="display: inline;">0</button>
		<button id="btn1" type="button" class="btn btn-default"
			data-toggle="tooltip" data-placement="bottom"
			title="1 pin knocked down" ng-if="1+chance1Value<=10 || (counter==9 && chance1Value==10)" ng-click="chanceValue(1);" value="1"
			style="display: inline;">1</button>
		<button id="btn2" type="button" class="btn btn-default"
			data-toggle="tooltip" data-placement="bottom"
			title="2 pins knocked down" ng-if="2+chance1Value<=10 || (counter==9 && chance1Value==10)" ng-click="chanceValue(2);" value="2"
			style="display: inline;">2</button>
		<button id="btn3" type="button" class="btn btn-default"
			data-toggle="tooltip" data-placement="bottom"
			title="3 pins knocked down" ng-if="3+chance1Value<=10 || (counter==9 && chance1Value==10)" ng-click="chanceValue(3);" value="3"
			style="display: inline;">3</button>
		<button id="btn4" type="button" class="btn btn-default"
			data-toggle="tooltip" data-placement="bottom"
			title="4 pins knocked down" ng-if="4+chance1Value<=10 || (counter==9 && chance1Value==10)" ng-click="chanceValue(4);" value="4"
			style="display: inline;">4</button>
		<button id="btn5" type="button" class="btn btn-default"
			data-toggle="tooltip" data-placement="bottom"
			title="5 pins knocked down" ng-if="5+chance1Value<=10 || (counter==9 && chance1Value==10)" ng-click="chanceValue(5);" value="5"
			style="display: inline;">5</button>
		<button id="btn6" type="button" class="btn btn-default"
			data-toggle="tooltip" data-placement="bottom"
			title="6 pins knocked down" ng-if="6+chance1Value<=10 || (counter==9 && chance1Value==10)" ng-click="chanceValue(6);" value="6"
			style="display: inline;">6</button>
		<button id="btn7" type="button" class="btn btn-default"
			data-toggle="tooltip" data-placement="bottom"
			title="7 pins knocked down" ng-if="7+chance1Value<=10 || (counter==9 && chance1Value==10)" ng-click="chanceValue(7);" value="7"
			style="display: inline;">7</button>
		<button id="btn8" type="button" class="btn btn-default"
			data-toggle="tooltip" data-placement="bottom"
			title="8 pins knocked down" ng-if="8+chance1Value<=10 || (counter==9 && chance1Value==10)" ng-click="chanceValue(8);" value="8"
			style="display: inline;">8</button>
		<button id="btn9" type="button" class="btn btn-default"
			data-toggle="tooltip" data-placement="bottom"
			title="9 pins knocked down" ng-if="9+chance1Value<=10 || (counter==9 && chance1Value==10)" ng-click="chanceValue(9);" value="9"
			style="display: inline;">9</button>
		<button id="btn10" type="button" class="btn btn-default"
			data-toggle="tooltip" data-placement="bottom"
			title="10 pins knocked down" ng-if="10+chance1Value<=10 || (counter==9 && chance1Value==10)" ng-click="chanceValue(10);" value="10"
			style="display: inline;">10</button>
