<div class="container center_div">
	<div class="row">
        <div class="col-md-6">
<form class="form-centre" ng-submit="submit()">
	<fieldset>
		<div id="legend">
			<legend class="">How many players wants to Play?</legend>
		</div>
		<div class="form-group">
			<label class="control-label" for="noofPlayers">No. Of Players</label>
			<div class="controls">
				<input type="text" ng-model="noofplayers" id="noofPlayers" name="noofPlayers"
					placeholder="" class="input-xlarge">
				<p class="help-block">Enter only digits</p>
			</div>
		</div>
		<div class="form-group">
			<!-- Button -->
			<div class="controls">
				<button class="btn btn-success">Submit</button>
			</div>
		</div>
		
	</fieldset>
</form>
</div>
</div>
</div>