<!-- <div class="widget stacked widget-table action-table"> -->

	<div class="widget-header">
		<i class="icon-td-list"></i>
		Bowling League Score Sheet
	</div>
	<!-- /widget-header -->

	<div>

		<label> Select the score of each chance in a Frame using below
			Buttons</label> <br />
		<div buttons></div><br />
	</div>

	<!-- <div>

		<label>Score in tde First Chance is {{chance1Value}}</label> <br /> <label>Score
			in tde Second Chance is {{chance2Value}}</label>

	</div> -->

	<div scoretable>


	</div>
	<!-- /widget-content -->

<!-- </div> -->